<%= stylesheet_link_tag 'index', :media => "all" %>


<% if user_signed_in? %>
<%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>

<div class="signup-wrapper">
</div>

<% @balls.each do |t| %>

<% end %>